bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
flagbrew2_*.json
*gpss.db
.idea/
output/
local-gpss.json
Config.json
.vs/
*.user
Properties/
launchSettings.json
/Client/Properties
/Server/Properties
/Client/Properties/launchSettings.json
/Server/Properties/launchSettings.json
